In [2]:
import pandas as pd
import re
import pandas as pd
import urllib.request

#セキュリティ的にだめ！！（一時凌ぎ）
#https://qiita.com/shutokawabata0723/items/9733a7e640a175c23f39
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

def getStockCodeDataFrame() -> pd.core.frame.DataFrame:

    URL = 'https://www.jpx.co.jp/markets/statistics-equities/misc/01.html'


    response = urllib.request.urlopen(URL).read().decode("utf-8")
    string_html = re.findall('<a href=\".+?\.xls\"',response)
    url_list = []
    for i in string_html:
        j = i.lstrip('<a href=\"')
        k = j.rstrip('\"')
        url_list.append('https://www.jpx.co.jp'+k)
    url = url_list[0]

    #国内株式のみ抽出

    df = pd.read_excel(url)
    df = df[(df.iloc[:,3] == 'プライム（内国株式）' ) | (df.iloc[:,3] == 'スタンダード（内国株式）' ) | (df.iloc[:,3] == 'グロース（内国株式）' ) ]

    #列名の変更
    df.columns = ['date', 'code', 'office_name', 'market_class', 'industry_detail_code', 'industry_detail', 'industry_code', 'industry','scale_code','scale_class']

    #'date'列をdatetime->strへ型変換
    df['date'] = df['date'].astype(str)
    df['code'] = df['code'].astype(str)
    df['industry_detail_code'] = df['industry_detail_code'].astype(str)
    df['industry_code'] = df['industry_code'].astype(str)
    df['scale_code'] = df['scale_code'].astype(str)

    return df

In [7]:
import sqlite3
import datetime
import workdays

#本日の日付を取得
dt_now = datetime.datetime.now()
dt_current_workday = workdays.workday(dt_now, days=-1)
current_workday = dt_current_workday.strftime('%Y%m%d')

def getDate(day:int) -> str:
    dt = dt_current_workday - datetime.timedelta(days=day)
    return dt.strftime('%Y%m%d')

dt_current_workday_7 = dt_current_workday - datetime.timedelta(days=7)
current_workday_7 = dt_current_workday_7.strftime('%Y%m%d')

dt_current_workday_30 = dt_current_workday - datetime.timedelta(days=30)
current_workday_30 = dt_current_workday_30.strftime('%Y%m%d')


def check_result(result:list) -> (str,bool):
    if result[0][1] * result[0][2]* result[0][3]* result[0][4]:
        return result[0][0],True
    else:
        return '0000',False

# con = sqlite3.connect("./DB/stockPrice.db")
# cur  = con.cursor()

In [8]:
codes = getStockCodeDataFrame()
codeList = codes['code'].to_list()

con = sqlite3.connect("./DB/stockPrice.db")
cur  = con.cursor()


for code in codeList:

    select_table_sql ="""
    
    select a.code,
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_30 and b.code = :code),
     a.close > (select avg(b.close) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     a.close > (select avg(b.close) from stockPrice b where b.date > :current_workday_30 and b.code = :code)
     
    from stockPrice a
    where a.date = :current_workday and a.code = :code
    
    """
    
    cur.execute(select_table_sql,{'code':code,'current_workday_7':current_workday_7,'current_workday':current_workday,'current_workday_30':current_workday_30})
    result = cur.fetchall()
    
    # result結果が0件 = 基準日の出来高が0の銘柄はcheck_result関数を呼ばない。
    if len(result) != 0:
        code,flag = check_result(result)
        if flag:
            print(code)

1434
1514
1847
4166
4673
4884
5484
6085
6533
7042
7078
7083
7446
8152
9562

In [6]:
codes = getStockCodeDataFrame()
codeList = codes['code'].to_list()

con = sqlite3.connect("./DB/stockPrice.db")
cur  = con.cursor()


select_table_sql ="""
    
    select a.code,
     a.volume , 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_30 and b.code = :code),
     a.close , (select avg(b.close) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     a.close , (select avg(b.close) from stockPrice b where b.date > :current_workday_30 and b.code = :code)
     
    from stockPrice a
    where a.date = :current_workday and a.code = :code
    
    """
    
cur.execute(select_table_sql,{'code':9562,'current_workday_7':current_workday_7,'current_workday':current_workday,'current_workday_30':current_workday_30})
result = cur.fetchall()
result

[('9562', 425900, 263820.0, 77163.15789473684, 1205.0, 1183.6)]

In [21]:
con = sqlite3.connect("./DB/stockPrice.db")
cur  = con.cursor()

select_table_sql ="""
    
    select a.code,
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_30 and b.code = :code),
     a.close > (select avg(b.close) from stockPrice b where b.date > :current_workday_7 and b.code = :code)
     
    from stockPrice a
    where a.date = :current_workday and a.code = :code
    
"""
    
cur.execute(select_table_sql,{'code':code,'current_workday_7':current_workday_7,'current_workday':current_workday,'current_workday_30':current_workday_30})
result = cur.fetchall()
result

[('9260', 1, 1, 0)]

In [1]:
import sqlite3

con = sqlite3.connect("./DB/stockPrice.db")
cur  = con.cursor()

create_table_sql ="""
CREATE TABLE stockPrice (code TEXT,date TEXT, open REAL, high REAL, low REAL, close REAL,adjclose REAL,volume REAL,PRIMARY KEY(code, date))
"""

cur.execute(create_table_sql)

OperationalError: table stockPrice already exists

In [76]:
import pandas as pd
import yfinance


def getStockPriceInfo(code:str,period:str,interval:str) -> pd.core.frame.DataFrame:

    # DataFrameを作成します
    table_name = "stockPrice"
    df = yfinance.download(str(code) + ".T", period=period,interval=interval)

    #indexを最初の列に挿入
    df.reset_index(inplace= True)
    df = df.rename(columns={'index': 'date'})
    #codeを最初の列に挿入
    df.insert(0, 'code', str(code))

    #列名の変更
    df.columns = ['code', 'date', 'open', 'high', 'low', 'close', 'adjclose', 'Volume']

    #'date'列をdatetime->strへ型変換
    df['date'] = df['date'].astype(str)

    #'-'はバイト数を消費するので削除しておく。
    df['date'] = df['date'].str.replace('-', '')

    #adjclose列の小数点第2位以下を丸め込む
    df['adjclose'] = df['adjclose'].round(2)
    
    return df

df = getStockPriceInfo(code='1301',period='1mo',interval='1d')

[*********************100%%**********************]  1 of 1 completed

In [75]:
df

    code      date    open    high     low   close  adjclose   Volume
0   1301  20240304  3580.0  3580.0  3500.0  3510.0    3418.5  1021000
1   1301  20240305  3525.0  3550.0  3515.0  3530.0    3438.0   164500
2   1301  20240306  3575.0  3670.0  3560.0  3665.0    3569.4   247500
3   1301  20240307  3660.0  3690.0  3625.0  3630.0    3535.3   106900
4   1301  20240308  3635.0  3700.0  3625.0  3700.0    3603.5   112800
5   1301  20240311  3700.0  3700.0  3620.0  3655.0    3559.7   116700
6   1301  20240312  3660.0  3660.0  3600.0  3635.0    3540.2    79200
7   1301  20240313  3660.0  3675.0  3615.0  3630.0    3535.3    60800
8   1301  20240314  3650.0  3695.0  3635.0  3695.0    3598.7    49100
9   1301  20240315  3690.0  3725.0  3690.0  3705.0    3608.4    61500
10  1301  20240318  3755.0  3760.0  3725.0  3750.0    3652.2    87600
11  1301  20240319  3760.0  3800.0  3745.0  3790.0    3691.2    73400
12  1301  20240321  3800.0  3810.0  3780.0  3805.0    3705.8    80500
13  1301  20240322  3820.0  3845.0  3790.0  3845.0    3744.7    85500
14  1301  20240325  3865.0  3885.0  3820.0  3860.0    3759.3   159700
15  1301  20240326  3840.0  3850.0  3810.0  3835.0    3735.0   139700
16  1301  20240327  3845.0  3850.0  3820.0  3835.0    3735.0   210100
17  1301  20240328  3750.0  3750.0  3685.0  3700.0    3700.0   193500
18  1301  20240329  3705.0  3745.0  3690.0  3740.0    3740.0    52300
19  1301  20240401  3740.0  3740.0  3665.0  3670.0    3670.0    45400
20  1301  20240402  3675.0  3700.0  3650.0  3665.0    3665.0    49200

In [70]:
#connection確立
con = sqlite3.connect("./DB/stockPrice.db")

#一括書込み
df.to_sql('stockPrice',con,if_exists='append',index=None)

#commit
con.commit()

con.close()

IntegrityError: UNIQUE constraint failed: stockPrice.code, stockPrice.date

In [2]:
con = sqlite3.connect("./DB/stockPrice.db")

sql = '''
 SELECT date FROM stockprice 
'''
res = con.execute(sql)
res.fetchall()

[('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240402',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240402',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ('20240403',),
 ...]

In [8]:
import pandas as pd
import re
import pandas as pd
import urllib.request

#セキュリティ的にだめ！！（一時凌ぎ）
#https://qiita.com/shutokawabata0723/items/9733a7e640a175c23f39
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

def getStockCodeDataFrame() -> pd.core.frame.DataFrame:

    URL = 'https://www.jpx.co.jp/markets/statistics-equities/misc/01.html'


    response = urllib.request.urlopen(URL).read().decode("utf-8")
    string_html = re.findall('<a href=\".+?\.xls\"',response)
    url_list = []
    for i in string_html:
        j = i.lstrip('<a href=\"')
        k = j.rstrip('\"')
        url_list.append('https://www.jpx.co.jp'+k)
    url = url_list[0]

    #国内株式のみ抽出

    df = pd.read_excel(url)
    df = df[(df.iloc[:,3] == 'プライム（内国株式）' ) | (df.iloc[:,3] == 'スタンダード（内国株式）' ) | (df.iloc[:,3] == 'グロース（内国株式）' ) ]

    #列名の変更
    df.columns = ['date', 'code', 'office_name', 'market_class', 'industry_detail_code', 'industry_detail', 'industry_code', 'industry','scale_code','scale_class']

    #'date'列をdatetime->strへ型変換
    df['date'] = df['date'].astype(str)
    df['code'] = df['code'].astype(str)
    df['industry_detail_code'] = df['industry_detail_code'].astype(str)
    df['industry_code'] = df['industry_code'].astype(str)
    df['scale_code'] = df['scale_code'].astype(str)

    return df

In [36]:
codes = getStockCodeDataFrame()
codes

,date,code,office_name,market_class,industry_detail_code,industry_detail,industry_code,industry,scale_code,scale_class
0,20240229,1301,極洋,プライム（内国株式）,50,水産・農林業,1,食品,7,TOPIX Small 2
5,20240229,130A,Ｖｅｒｉｔａｓ Ｉｎ Ｓｉｌｉｃｏ,グロース（内国株式）,3250,医薬品,5,医薬品,-,-
19,20240229,1332,ニッスイ,プライム（内国株式）,50,水産・農林業,1,食品,4,TOPIX Mid400
20,20240229,1333,マルハニチロ,プライム（内国株式）,50,水産・農林業,1,食品,4,TOPIX Mid400
31,20240229,135A,ＶＲＡＩＮ Ｓｏｌｕｔｉｏｎ,グロース（内国株式）,5250,情報・通信業,10,情報通信・サービスその他,-,-
...,...,...,...,...,...,...,...,...,...,...
4338,20240229,9993,ヤマザワ,スタンダード（内国株式）,6100,小売業,14,小売,7,TOPIX Small 2
4339,20240229,9994,やまや,スタンダード（内国株式）,6100,小売業,14,小売,7,TOPIX Small 2
4340,20240229,9995,グローセル,プライム（内国株式）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
4341,20240229,9996,サトー商会,スタンダード（内国株式）,6050,卸売業,13,商社・卸売,-,-
4342,20240229,9997,ベルーナ,プライム（内国株式）,6100,小売業,14,小売,6,TOPIX Small 1

In [37]:
import sqlite3

con = sqlite3.connect("./DB/stockCode.db")
cur  = con.cursor()

create_table_sql ="""
CREATE TABLE stockCode 
(date TEXT,code TEXT, brand TEXT, market TEXT, 
 industry_detail TEXT,industry_detail_code Text,
 industry TEXT,industry_code Text,scale_code Text,scale_class Text
 ,PRIMARY KEY(code))
"""

cur.execute(create_table_sql)
cur.close()
con.close()

In [48]:
#connection確立
con = sqlite3.connect("./DB/stockCode.db")

#一括書込み
df = getStockCodeDataFrame()
df.to_sql('stockCode',con,if_exists='replace',index=None)

#commit
con.commit()
con.close()

In [3]:
con = sqlite3.connect("./DB/stockCode.db")

sql = '''
 SELECT * FROM stockCode 
'''
res = con.execute(sql)
res.fetchone()

('20240430',
 '1301',
 '極洋',
 'プライム（内国株式）',
 '50',
 '水産・農林業',
 '1',
 '食品',
 '7',
 'TOPIX Small 2')

In [51]:
res.close()
con.close()

In [78]:
datago = 1

cols = ['stockCode', 'buyBalance','sellBalance']
df_summry = pd.DataFrame(index = [],columns = cols)

#対象のURLより、信用残高一覧ファイルのURLを取得する。

URL = 'https://www.jpx.co.jp/markets/statistics-equities/margin/05.html'


response = urllib.request.urlopen(URL).read().decode("utf-8")
string_html = re.findall('<a href=\".+?\.pdf\"',response)
url_list = []
for i in string_html:
    j = i.lstrip('<a href=\"')
    k = j.rstrip('\"')
    url_list.append('https://www.jpx.co.jp'+k)


url_list.sort()
url = url_list[-datago]

In [297]:
def getCreditBalancesInfo(date_go:int) -> pd.core.frame.DataFrame:
    '''
    全銘柄の信用残高一覧を保持する。

    date_go は信用残高一覧が5日分のデータを保持している。
        1:直近版
        2:前回版
        ...
        5:一番古い
       
    URL = 'https://www.jpx.co.jp/markets/statistics-equities/margin/05.html'
    '''

    cols = ['code', 'buy_balance','sell_balance']
    df_summry = pd.DataFrame(index = [],columns = cols)

    #対象のURLより、信用残高一覧ファイルのURLを取得する。

    URL = 'https://www.jpx.co.jp/markets/statistics-equities/margin/05.html'


    response = urllib.request.urlopen(URL).read().decode("utf-8")
    string_html = re.findall('<a href=\".+?\.pdf\"',response)
    url_list = []
    for i in string_html:
        j = i.lstrip('<a href=\"')
        k = j.rstrip('\"')
        url_list.append('https://www.jpx.co.jp'+k)


    url_list.sort()
    url = url_list[-date_go]
    #-1の要素が直近版である！

    dfs_list = tabula.read_pdf(url, stream=True,pages='all',lattice=True)

    for index_dfs_list,dfs in enumerate(dfs_list): #◯ページ目のPDFデータがlist構造で格納されている。

        for index_df,df in dfs.iterrows():

            try:

                ##7532はバグで『7普53通20』ってなっているので、、
                
                sc = str(df.iloc[0])
                stockCode = sc.replace('普','')
                stockCode = stockCode.replace('通','')

                ##mmmm0の0を取り除く                    
                stockCode = str(stockCode[-5:-1])
            
                sellBalance = int(re.sub(',','',df.iloc[2]))
                buyBalance = int(re.sub(',','',df.iloc[4]))

                df_tmp = pd.DataFrame([[stockCode,buyBalance,sellBalance]],index = [stockCode],columns = cols)
                df_summry = pd.concat([df_summry,df_tmp],axis=0)

            except:
                #本当はerror関数を作ってerror通知関数を置きたい。
                continue

    #df_summryのindex=直近の銘柄コード一覧　の共通銘柄コードを抽出する。

    codes = getStockCodeDataFrame()
    merge_index_list = set(df_summry.index.to_list()) & set(codes['code'].to_list())
    merge_index = pd.Index(merge_index_list)
    df_summry = df_summry.loc[merge_index]
    
    #日付とindexを列に付与する。
    date = url[-14:-6]
    df_summry.insert(1,'date',date)

    #優先株削除処理。2593（伊藤園）などが対象となる。
    df_summry = df_summry[(~df_summry.index.duplicated(keep='first'))]
    
    return df_summry

In [298]:
df = getCreditBalancesInfo(1)

/Users/satoki252595/.pyenv/versions/3.11.7/lib/python3.11/site-packages/tabula/io.py:1045: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [300]:
df

      code      date buy_balance sell_balance
4885  4885  20240329      147500         1000
2831  2831  20240329        7200            0
3880  3880  20240329      139700       106500
1518  1518  20240329      585200        48100
1712  1712  20240329      623900        16600
...    ...       ...         ...          ...
6758  6758  20240329     3013300       183200
6552  6552  20240329      973100        21300
3395  3395  20240329       48700        22200
4978  4978  20240329     4340700            0
9767  9767  20240329      121400            0

[3825 rows x 4 columns]

In [284]:
df = df[(~df.index.duplicated(keep='first'))]
df

      code      date buy_balance sell_balance
4885  4885  20240329      147500         1000
2831  2831  20240329        7200            0
3880  3880  20240329      139700       106500
1518  1518  20240329      585200        48100
1712  1712  20240329      623900        16600
...    ...       ...         ...          ...
6758  6758  20240329     3013300       183200
6552  6552  20240329      973100        21300
3395  3395  20240329       48700        22200
4978  4978  20240329     4340700            0
9767  9767  20240329      121400            0

[3825 rows x 4 columns]

In [243]:
df[df.index == "2593"]

      code      date buy_balance sell_balance
2593  2593  20240329     1202300       100400

In [274]:
df1 = df[np.logical_not(~df.index.duplicated(keep='first'))]

In [275]:
import numpy as np
l = np.logical_not(~df.index.duplicated(keep='first'))

In [276]:
df2 = df[np.logical_not(~df.index.duplicated(keep='last'))]

In [277]:
df1

      code      date buy_balance sell_balance
6908  6908  20240329       23170         2550
2593  2593  20240329       53100         1000
9434  9434  20240329           0            0

In [278]:
df2

      code      date buy_balance sell_balance
6908  6908  20240329      310800        18100
2593  2593  20240329     1202300       100400
9434  9434  20240329     5004000       387300

In [252]:
a = df.index.to_list()
b = codes['code'].to_list()

In [257]:
l = set(a) & set (b)
l

{'4885',
 '2831',
 '3880',
 '1518',
 '1712',
 '6762',
 '9749',
 '7212',
 '3513',
 '2501',
 '9401',
 '3030',
 '4575',
 '6615',
 '2762',
 '5803',
 '8215',
 '9258',
 '6516',
 '9070',
 '3661',
 '9625',
 '3190',
 '5884',
 '3097',
 '7035',
 '6822',
 '6143',
 '3865',
 '6054',
 '3184',
 '9869',
 '3370',
 '9351',
 '6849',
 '3480',
 '2931',
 '6081',
 '3360',
 '6562',
 '6561',
 '6820',
 '6877',
 '3474',
 '1966',
 '6763',
 '9534',
 '2305',
 '7246',
 '8358',
 '4920',
 '8334',
 '4119',
 '6754',
 '1929',
 '9955',
 '1885',
 '9278',
 '9168',
 '3134',
 '4769',
 '1420',
 '7116',
 '3803',
 '7705',
 '3150',
 '6098',
 '5127',
 '5958',
 '6277',
 '3347',
 '6879',
 '5445',
 '2371',
 '7649',
 '9348',
 '3645',
 '2163',
 '8698',
 '6850',
 '2607',
 '6955',
 '5695',
 '9361',
 '9067',
 '1938',
 '2698',
 '9793',
 '4743',
 '8304',
 '7914',
 '4883',
 '9265',
 '4373',
 '4409',
 '3195',
 '4576',
 '7483',
 '5482',
 '2784',
 '6557',
 '5632',
 '2540',
 '4012',
 '5250',
 '6902',
 '6578',
 '9904',
 '4341',
 '3648',
 '6022',
 '2934',
 '3633',
 '5079',
 '6157',
 '9072',
 '3845',
 '7868',
 '4022',
 '7938',
 '3024',
 '5844',
 '6103',
 '6551',
 '3551',
 '7685',
 '9830',
 '9306',
 '6506',
 '3182',
 '7942',
 '3141',
 '4966',
 '7451',
 '3197',
 '2695',
 '4028',
 '4196',
 '1964',
 '6929',
 '4927',
 '7175',
 '6817',
 '5464',
 '1821',
 '1436',
 '7327',
 '7219',
 '2425',
 '4820',
 '9696',
 '2217',
 '3974',
 '7878',
 '4188',
 '2378',
 '8876',
 '3002',
 '3905',
 '5284',
 '2480',
 '5989',
 '6645',
 '4267',
 '3168',
 '6050',
 '7059',
 '7847',
 '4229',
 '7417',
 '2656',
 '6166',
 '8418',
 '7317',
 '7997',
 '4936',
 '3350',
 '9236',
 '4334',
 '6078',
 '8842',
 '9163',
 '3844',
 '4433',
 '5940',
 '2489',
 '2735',
 '4524',
 '5702',
 '4840',
 '7522',
 '5243',
 '3670',
 '4298',
 '8927',
 '3536',
 '7063',
 '1820',
 '9476',
 '5368',
 '4390',
 '6209',
 '9551',
 '4167',
 '4216',
 '8923',
 '3031',
 '1805',
 '3096',
 '6387',
 '8130',
 '2229',
 '3440',
 '2186',
 '6332',
 '6664',
 '3179',
 '9119',
 '5699',
 '7987',
 '7450',
 '6724',
 '7523',
 '7538',
 '7733',
 '6960',
 '3393',
 '5273',
 '9339',
 '7081',
 '8093',
 '1930',
 '6226',
 '7112',
 '2150',
 '7819',
 '3161',
 '2139',
 '8077',
 '4215',
 '7130',
 '2483',
 '1890',
 '7272',
 '8595',
 '6465',
 '3915',
 '6336',
 '3092',
 '4595',
 '8074',
 '3850',
 '6307',
 '7378',
 '6420',
 '5025',
 '4925',
 '1971',
 '2708',
 '6310',
 '7932',
 '5138',
 '4725',
 '7822',
 '9347',
 '4540',
 '5575',
 '8045',
 '6663',
 '6771',
 '7264',
 '7537',
 '3538',
 '5271',
 '8795',
 '8601',
 '7192',
 '6986',
 '2730',
 '5257',
 '3353',
 '6643',
 '6835',
 '2468',
 '7347',
 '7994',
 '7687',
 '4496',
 '8016',
 '5258',
 '5029',
 '8285',
 '7036',
 '6287',
 '4120',
 '8198',
 '3248',
 '5237',
 '4295',
 '3050',
 '6203',
 '7702',
 '3386',
 '1762',
 '6390',
 '9824',
 '5440',
 '7902',
 '2321',
 '9735',
 '5071',
 '3101',
 '4058',
 '8125',
 '3089',
 '4333',
 '6324',
 '6532',
 '9508',
 '9633',
 '4849',
 '7072',
 '2930',
 '9610',
 '7213',
 '7280',
 '9627',
 '4636',
 '3143',
 '6495',
 '7135',
 '2978',
 '3763',
 '4527',
 '8283',
 '9343',
 '9739',
 '3183',
 '7850',
 '6393',
 '2268',
 '3950',
 '2871',
 '3372',
 '6058',
 '1743',
 '7974',
 '4391',
 '4685',
 '8789',
 '4183',
 '8935',
 '1959',
 '2689',
 '4635',
 '5217',
 '9143',
 '2330',
 '7963',
 '7087',
 '7012',
 '4053',
 '7235',
 '3673',
 '7447',
 '3626',
 '4588',
 '4437',
 '8337',
 '8804',
 '9557',
 '3286',
 '4664',
 '6670',
 '2653',
 '4973',
 '2922',
 '3681',
 '4193',
 '4015',
 '2354',
 '7425',
 '6248',
 '7769',
 '2183',
 '5959',
 '4890',
 '7721',
 '1376',
 '8344',
 '9241',
 '7033',
 '3454',
 '7637',
 '8157',
 '7896',
 '3148',
 '6832',
 '7624',
 '9818',
 '7831',
 '3733',
 '3529',
 '6317',
 '9049',
 '9060',
 '2209',
 '3231',
 '3280',
 '9684',
 '4770',
 '6378',
 '2986',
 '7384',
 '3198',
 '8247',
 '9201',
 '6147',
 '6563',
 '6810',
 '4471',
 '7373',
 '2009',
 '9733',
 '6033',
 '6292',
 '6769',
 '8387',
 '4419',
 '5074',
 '4733',
 '2806',
 '5381',
 '8104',
 '9247',
 '4060',
 '4375',
 '4422',
 '7050',
 '5588',
 '9474',
 '9872',
 '6947',
 '1871',
 '8031',
 '4477',
 '7464',
 '9720',
 '3151',
 '3178',
 '8051',
 '3011',
 '7326',
 '7408',
 '9110',
 '3558',
 '8132',
 '3245',
 '7276',
 '3186',
 '9240',
 '6218',
 '7793',
 '6229',
 '3778',
 '6804',
 '2810',
 '7621',
 '9755',
 '7611',
 '2345',
 '9244',
 '4055',
 '5706',
 '6036',
 '7794',
 '9504',
 '3563',
 '6554',
 '6622',
 '5921',
 '4633',
 '6298',
 '6627',
 '3038',
 '8996',
 '3653',
 '6266',
 '7817',
 '3421',
 '7330',
 '9713',
 '4054',
 '6113',
 '9706',
 '4937',
 '6145',
 '4481',
 '5842',
 '7500',
 '7111',
 '5162',
 '7911',
 '8117',
 '1965',
 '8367',
 '6997',
 '9692',
 '3907',
 '7683',
 '4017',
 '7198',
 '7061',
 '3539',
 '8127',
 '2327',
 '7567',
 '6413',
 '4221',
 '8537',
 '2170',
 '7131',
 '6768',
 '1802',
 '4204',
 '3371',
 '8410',
 '3665',
 '4839',
 '6086',
 '3750',
 '3133',
 '4251',
 '5481',
 '3069',
 '4323',
 '6696',
 '7462',
 '8593',
 '2597',
 '9979',
 '6328',
 '3625',
 '4829',
 '6919',
 '2721',
 '4344',
 '4112',
 '4792',
 '2585',
 '3320',
 '4228',
 '5285',
 '6894',
 '7989',
 '8050',
 '3236',
 '4538',
 '2198',
 '8613',
 '8208',
 '9384',
 '2424',
 '7561',
 '5660',
 '4189',
 '9995',
 '9412',
 '2303',
 '7777',
 '6701',
 '4094',
 '9685',
 '4176',
 '6737',
 '8227',
 '3482',
 '8364',
 '6654',
 '9325',
 '3837',
 '7338',
 '9843',
 '5631',
 '2499',
 '6863',
 '7482',
 '3444',
 '6752',
 '2323',
 '4968',
 '4838',
 '7062',
 '4393',
 '5532',
 '4680',
 '7647',
 '4403',
 '9338',
 '9160',
 '3810',
 '3986',
 '8609',
 '1973',
 '3375',
 '6167',
 '5199',
 '9980',
 '6757',
 '7578',
 '6899',
 '5905',
 '2998',
 '6361',
 '4264',
 '8202',
 '6090',
 '8893',
 '3223',
 '2438',
 '9889',
 '8362',
 '7735',
 '3160',
 '6856',
 '7883',
 '8377',
 '2602',
 '4492',
 '3441',
 '7780',
 '6473',
 '4351',
 '5936',
 '3391',
 '6981',
 '7078',
 '2970',
 '7601',
 '6371',
 '8416',
 '7271',
 '3359',
 '6250',
 '3640',
 '6736',
 '4430',
 '8562',
 '3939',
 '2659',
 '4044',
 '6432',
 '7013',
 '7357',
 '8086',
 '4071',
 '6837',
 '6800',
 '6230',
 '7388',
 '5713',
 '7937',
 '9006',
 '4316',
 '4243',
 '6474',
 '6042',
 '9042',
 '4572',
 '5867',
 '6034',
 '7744',
 '9046',
 '3566',
 '4644',
 '2820',
 '6289',
 '8018',
 '8399',
 '9082',
 '9782',
 '4389',
 '7094',
 '5698',
 '7709',
 '7734',
 '7352',
 '8801',
 '2221',
 '7590',
 '7919',
 '6707',
 '9376',
 '8254',
 '4027',
 '2997',
 '7851',
 '9661',
 '3036',
 '5578',
 '3075',
 '4641',
 '8572',
 '9322',
 '9788',
 '6862',
 '2503',
 '3864',
 '8424',
 '3045',
 '8848',
 '9697',
 '4612',
 '5201',
 '2212',
 '2175',
 '4113',
 '4681',
 '2874',
 '1982',
 '2908',
 '3497',
 '3458',
 '5868',
 '5027',
 '4812',
 '4816',
 '7970',
 '3823',
 '4092',
 '6262',
 '9063',
 '6703',
 '3093',
 '4777',
 '2344',
 '5244',
 '2814',
 '3963',
 '4438',
 '4726',
 '4369',
 '7957',
 '3434',
 '3042',
 '6699',
 '1401',
 '9232',
 '7375',
 '3106',
 '8098',
 '5987',
 '2004',
 '7458',
 '6469',
 '7343',
 '2917',
 '7872',
 '2220',
 '4975',
 '6677',
 '6946',
 '4556',
 '6027',
 '7261',
 '9127',
 '9716',
 '3267',
 '6407',
 '4442',
 '6200',
 '8940',
 '8713',
 '9009',
 '4041',
 '9245',
 '7360',
 '4719',
 '1975',
 '2962',
 '3431',
 '9223',
 '3054',
 '7138',
 '9743',
 '3842',
 '4461',
 '9601',
 '2224',
 '9930',
 '6676',
 '7897',
 '3176',
 '5969',
 '2181',
 '6928',
 '5352',
 '8891',
 '1949',
 '2813',
 '6376',
 '3946',
 '6740',
 '1793',
 '6080',
 '4476',
 '4088',
 '6335',
 '9558',
 '6504',
 '6545',
 '4098',
 '5587',
 '7199',
 '6136',
 '6279',
 '3205',
 '3948',
 '3698',
 '5194',
 '4345',
 '3486',
 '6104',
 '7466',
 '1898',
 '4109',
 '3561',
 '2798',
 '6457',
 '3825',
 '2809',
 '9404',
 '7269',
 '3321',
 '9345',
 '7265',
 '6779',
 '7416',
 '7595',
 '4432',
 '5591',
 '2215',
 '2440',
 '8802',
 '7187',
 '138A',
 '5451',
 '8129',
 '5480',
 '6265',
 '3447',
 '2984',
 '3773',
 '7163',
 '8167',
 '4246',
 '1951',
 '3840',
 '2459',
 '4097',
 '6026',
 '9502',
 '9301',
 '6235',
 '7815',
 '7150',
 '3936',
 '9068',
 '4771',
 '7532',
 '1944',
 '4464',
 '3461',
 '7570',
 '3762',
 '6316',
 '3604',
 '3954',
 '7952',
 '7277',
 '1815',
 '4657',
 '4892',
 '8131',
 '9087',
 '9340',
 '2916',
 '4263',
 '8898',
 '3457',
 '3659',
 '4668',
 '7729',
 '4168',
 '9147',
 '6572',
 '4776',
 '6254',
 '7916',
 '1775',
 '5076',
 '6186',
 '2676',
 '4728',
 '6619',
 '3695',
 '3916',
 '5283',
 '3931',
 '4955',
 '8152',
 '8946',
 '4224',
 '6565',
 '8551',
 '7749',
 '9682',
 '7638',
 '2449',
 '6857',
 '7011',
 '4714',
 '1780',
 '7603',
 '1976',
 '7231',
 '6522',
 '2415',
 '4598',
 '6164',
 '4593',
 '5991',
 '6668',
 '9962',
 '4076',
 '9479',
 '9034',
 '6938',
 '4972',
 '4379',
 '8905',
 '9381',
 '7060',
 '7386',
 '2340',
 '8114',
 '6323',
 '8052',
 '9262',
 '7279',
 '5535',
 '3856',
 '9267',
 '7140',
 '8147',
 '2754',
 '3863',
 '7161',
 '2479',
 '6233',
 '2882',
 '7972',
 '5471',
 '3175',
 '9337',
 '8383',
 '3843',
 '2413',
 '7673',
 '4498',
 '2385',
 '4260',
 '9505',
 '6444',
 '7915',
 '4011',
 '4763',
 '7509',
 '6547',
 '3153',
 '7694',
 '7888',
 '1853',
 '6284',
 '4976',
 '5121',
 '6183',
 '6503',
 '2897',
 '6047',
 '2883',
 '6035',
 '4247',
 '8253',
 '4930',
 '7630',
 '4704',
 '2461',
 '6814',
 '4631',
 ...}

In [260]:
#信用取引されていない銘柄が抽出されry

ll = set(b) - set(l)
ll

{'2309',
 '2453',
 '2579',
 '25935',
 '3222',
 '4265',
 '4837',
 '4987',
 '5212',
 '6567',
 '71729',
 '7315',
 '8725',
 '8854',
 '8903',
 '94345',
 '9478'}

In [259]:
len(b)

3831

In [349]:
import datetime

dt_now = datetime.datetime.now()
today = dt_now.strftime('%Y%m%d')
today

'20240406'

In [5]:
import sqlite3
import datetime
import workdays

#本日の日付を取得
dt_now = datetime.datetime.now()
dt_current_workday = workdays.workday(dt_now, days=-1)
current_workday = dt_current_workday.strftime('%Y%m%d')

def getDate(day:int) -> str:
    dt = dt_current_workday - datetime.timedelta(days=day)
    return dt.strftime('%Y%m%d')

dt_current_workday_7 = dt_current_workday - datetime.timedelta(days=7)
current_workday_7 = dt_current_workday_7.strftime('%Y%m%d')

dt_current_workday_30 = dt_current_workday - datetime.timedelta(days=30)
current_workday_30 = dt_current_workday_30.strftime('%Y%m%d')


def check_result(result:list) -> (str,bool):
    if result[0][1] * result[0][2]:
        return result[0][0],True
    else:
        return '0000',False

# con = sqlite3.connect("./DB/stockPrice.db")
# cur  = con.cursor()

In [6]:
codes = getStockCodeDataFrame()
codeList = codes['code'].to_list()

NameError: name 'getStockCodeDataFrame' is not defined

In [7]:
codes = getStockCodeDataFrame()
codeList = codes['code'].to_list()

for code in codeList:

    con = sqlite3.connect("./DB/stockPrice.db")
    cur  = con.cursor()

    select_table_sql ="""
    
    select a.code,
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_7 and b.code = :code),
     a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_30 and b.code = :code),
     a.close > (select avg(b.close) from stockPrice b where b.date > :current_workday_7 and b.code = :code)
     
    from stockPrice a
    where a.date = :current_workday and a.code = :code
    
    """
    
    cur.execute(select_table_sql,{'code':code,'current_workday_7':current_workday_7,'current_workday':current_workday,'current_workday_30':current_workday_30})
    result = cur.fetchall()
    
    # result結果が0件 = 基準日の出来高が0の銘柄はcheck_result関数を呼ばない。
    if len(result) != 0:
        code,flag = check_result(result)
        if flag:
            print(code)

NameError: name 'codeList' is not defined

In [4]:
con = sqlite3.connect("./DB/stockPrice.db")
cur  = con.cursor()

select_table_sql ="""

select a.code,
 a.volume > 3*(select avg(b.volume) from stockPrice b where b.date > :current_workday_7 and b.code = a.code),
 a.close > (select avg(b.close) from stockPrice b where b.date > :current_workday_7 and b.code = a.code)
from stockPrice a
where a.date = :current_workday 
order by a.code

"""

cur.execute(select_table_sql,{'code':code,'current_workday_7':current_workday_7,'current_workday':current_workday})
result = cur.fetchall()

NameError: name 'code' is not defined

コードスニペットを作成します。この関数はデータベースに新しいページ（レコード）を作成します。

```python
def add_record(radio_name, download_url, radio_date, radio_name_select):
    data = {
        "parent": { "database_id": NOTION_DATABASE_ID },
        "properties": {
            "radio-name": {
                "title": [
                    {
                        "text": {
                            "content": radio_name
                        }
                    }
                ]
            },
            "download-url": {
                "url": download_url
            },
            "radio-date": {
                "date": {
                    "start": radio_date,
                    "end": None
                }
            },
            "radio-name-select": {
                "select": { "name": radio_name_select }
            }
        }
    }

    # レコードを追加
    notion.pages.create(**data)
```

### ステップ 5: 作成した関数を呼び出す

最後に、上で作成した関数を呼び出して、データベースにレコードを追加します。

```python
add_record("Radio Name", "http://example.com", "2022-01-01", "Option 1")
```

このコードは "Radio Name" というタイトル、"http://example.com" というURL、"2022-01-01" という日付、"Option 1" という選択肢を持つ新しいレコードを作成します。

注意事項：
- "radio-date" のフォーマットは "YYYY-MM-DD" である必要があります。
- "radio-name-select" はデータベースの "single select" タイプのプロパティで、既に存在する選択肢のいずれかを指定する必要があります。

以上が、Pythonを使ってNotion APIを通じてデータベースにレコードを追加する方法です。